body {
    font-family: 'Trebuchet MS', sans-serif;
}

input {
    background: none;
    text-align:start;
    border: 2px solid #bbbdc4;
    outline: none;
}

input[type = "text"] {
    width: 100%;
    border-radius: 30px;
    padding: 10px 10px;
    margin: 6px;
    padding-left: 42px;
    background-image: url('searchicon.png');
    background-position: 16px 15px;
    background-repeat: no-repeat;
}

input[type = "submit"] {
    margin: 13px;
    border-radius: 18px;
    padding: 7px 22px;
    background-color: #f0f0f0;
}

input[type = "submit"]:hover {
    cursor: pointer;
    background-color: #f8f9fa;
    border: 2px solid #dadce0;
    color: #202124;
}

.box {
    text-align:center;
    align-content: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 32%;
    min-width: 400px;
}

.img-identifier {
    position: relative;
    left: -50px;
    top: 41px;
}
.img {
    position: relative;
    left: 25px;
}