body {
    font-family: 'Trebuchet MS', sans-serif;
}

input {
    background: none;
    text-align:start;
    border: 2px solid #bbbdc4;
    outline: none;
}

input[type = "text"] {
    width: 100%;
    border-radius: 30px;
    padding: 10px 10px;
    margin: 6px;
    padding-left: 42px;
    background-image: url('searchicon.png');
    background-position: 16px 15px;
    background-repeat: no-repeat;
}

input[type = "submit"] {
    margin-right: 8px;
    margin-left: 8px;
    border-radius: 18px;
    padding: 7px 12px;
}

.box {
    text-align:center;
    align-content: center;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    width: 32%;
    min-width: 400px;
}